<header>
  <div>
    <p>Dogs 4 Life</p>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/breeds">Find a breed</a>
    {{#if currentUser}}
      <a href="/favorites">Favorite Breeds</a>
    {{/if}}
  </nav>
  <nav>
    {{#if currentUser}}
      <a href="/profile">{{currentUser.username}}</a>
      <a href="/logout">Logout</a>
    {{/if}}

    {{#unless currentUser}}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/unless}}
  </nav>
</header>
<div class="main-background-div">
  <div class="login-box">
    <h2>Log In</h2>
    <div>
    <form action="/login" method="POST">
      <label>
        Username
        <input type="text" name="username" placeholder="Your username" />
      </label>
    </div>
    <div>
      <label>
        Password
        <input type="password" name="password" placeholder="Your password" />
      </label>
    </div>
    <br>
      <button type="submit">Log In</button>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>