<header>
  <div>
    <a href="/">Dogs 4 Life</a>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/breeds">Find a breed</a>
     <a href="/trending">Trending</a>
    {{#if currentUser}}
      <a href="/favorites">My Favorite Breeds</a>
    {{/if}}
  </nav>
  <nav>
    {{#unless currentUser}}
      <a href="/login">Login</a>
    {{/unless}}
  </nav>
</header>
<div class="main-background-div">
  <div class="secondary-box">
    <h2>Sign Up</h2>
    <form class="auth-main-div" id="signup-form" action="/signup" method="POST">
      <div class="auth-secondary-div">
        <label>
          Username
        </label>
        <br />
        <label>
          Email
        </label>
        <br />
        <label>
          Password
        </label>
      </div>
      <div class="auth-secondary-div">
        <input type="text" name="username" placeholder="Your username" />
        <br />
        <input type="email" name="email" placeholder="Your email" />
        <br />
        <input type="password" name="password" placeholder="Your password" />
      </div>
      <br />
    </form>
    <button type="submit" form="signup-form">Sign Up</button>
  </div>
      {{#if errorMessage}}
    <div class="error-message">
        <p class="error">{{errorMessage}}</p>
    </div>
      {{/if}}
</div>