<div>
  {{#if currentUser}}
    <a href="/profile">{{currentUser.username}}</a>
    <a href="/logout">Logout</a>
  {{/if}}

  {{#unless currentUser}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  {{/unless}}
</div>