<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dogs4Life</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <div>
        <p>Dogs 4 Life</p>
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="#">Find a breed</a>
      </nav>
      <nav>
        {{#if !currentUser}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        {{else}}
        <a href="/profile">{{currentUser}}</a>
        <a href="/logout">Logout</a>
        {{/if}}
      </nav>
    </header>

    {{{body}}}

    <footer>
      <div>
        <p>Developed at Ironhack by Miguel Leite and João Elias</p>
      </div>
    </footer>

    <script src="/js/script.js"></script>
  </body>

</html>