<!-- NOT IMPLEMENTED - PAGE THAT GATHERS ALL OF A USERS COMMENTS -->
<header>
  <div>
    <a href="/">Dogs 4 Life</a>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/breeds">Breeds</a>
    <a href="/breeds/search">Find a breed</a>
    {{#if currentUser}}
      <a href="user/favorites">Favorites</a>
    {{/if}}
  </nav>
  <nav>
    {{#if currentUser}}
      <a href="/user/profile">{{currentUser.username}}</a>
      <a href="/logout">Logout</a>
    {{/if}}

    {{#unless currentUser}}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/unless}}
  </nav>
</header>
<div class="quinary-background-div">
  <h2>{{currentUser.username}}'s comments</h2>
</div>
{{#each userComments}}
  <div>
    <!-- something goes here -->
  </div>
{{/each}}