<header>
  <div>
    <a href="/">Dogs 4 Life</a>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/breeds">Breeds</a>
    <a href="/breeds/search">Find a breed</a>
     <a href="/trending">Trending</a>
    {{#if currentUser}}
    <a href="/favorites">Favorites</a>
    {{/if}}
  </nav>
  <nav>
    {{#if currentUser}}
      <a href="/profile">{{currentUser.username}}</a>
      <a href="/logout">Logout</a>
    {{/if}}

    {{#unless currentUser}}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/unless}}
  </nav>
</header>
<div class="terciary-background-div">
    <div class="terciary-box">
        <p>favorite</p>
    </div>
</div>