<header>
  <div>
    <a href="/">Dogs 4 Life</a>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/breeds">Breeds</a>
    {{#if currentUser}}
      <a href="/breeds/search">Find a breed</a>
      <a href="/user/favorites">Favorites</a>
    {{/if}}
  </nav>
  <nav>
    {{#if currentUser}}
      <a href="/user/profile">{{currentUser.username}}</a>
      <a href="/logout">Logout</a>
    {{/if}}

    {{#unless currentUser}}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/unless}}
  </nav>
</header>

<div class="main-background-div">
  <div class="secondary-box">
    <h2>My Profile: {{currentUser.username}}</h2>
    <a href="/user/favorites">Favorite Breeds</a>
    <!-- <a href="/user/comments">My comments</a> WIP -->
    <form action="/user/profile/delete" method="POST">
      <button type="submit">Delete Profile</button>
    </form>
  </div>
</div>